@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-black text-white overflow-x-hidden;
  cursor: none;
}

a, button, input, textarea, select {
  cursor: none;
}

::selection {
  background: rgba(139, 92, 246, 0.3);
}

/* Keep cursor on small devices */
@media (max-width: 768px) {
  body, a, button, input, textarea, select {
    cursor: auto;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}